@import url(../fonts/GothamBook.css);
@import url(../fonts/GothamBold.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #a5d1e1, #199fb1, #0d5c75);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'arial';
    font-weight: bold;
    letter-spacing: 1px;
}

.user_new {
    font-family: 'arial';
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 26px;
    color: black;
}

.encabezado {
    font-family: 'arial';
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 26px;
    color: black;
}

.title1 {
    font-family: 'arial';
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 26px;
    color: black;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

.fecha {
    font-family: 'arial';
    letter-spacing: 2px;
    font-size: 14px;
    line-height: 20px;
    padding-top: 15px;
}

a {
    text-decoration: none;
    font-family: arial;
    letter-spacing: 1px;
}

span {
    font-family: 'GothamBook';
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 20px;
}

header {
    position: fixed;
    width: 100%;
}

.header {
    background: linear-gradient(to right, #a5d1e1, #199fb1, #0d5c75);
    height: 35px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.optionsBar {
    color: #FFF;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.optionsBar span {
    color: #FFF;
    font-size: 11pt;
    font-family: 'GothamBook';
    text-transform: uppercase;
    margin-left: 30px;
}

.photouser {
    margin-left: 30px;
    width: 25px;
    height: 25px;
}

.close {
    width: 25px;
    height: 25px;
}

.optionsBar a {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-left: 30px;
}

nav ul {
    background: #05817d;
    /*background: #058167;*/
    list-style: none;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: left;
    align-items: center;
}

nav ul>li a {
    position: relative;
    text-decoration: none;
}

nav a {
    color: #FFF;
    display: block;
    font-size: 10pt;
    font-family: 'GothamBook';
    padding: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background .5s;
    border-right: 1px solid #319B8F;
}

nav .principal>a {
    background: url(../images/arrow_bottom.png) no-repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto auto;
    background-position: 94% center;
    background-size: 10px;
}

nav ul li:hover ul {
    display: block;
}

nav li ul {
    background: #05817d;
    /*background: #2d9872;*/
    display: none;
    flex-direction: column;
    position: absolute;
    align-items: flex-start;
    border-radius: 0 0 10px 10px;
}

nav li ul a {
    position: relative;
    padding: 10px 30px;
    border-right: initial;
}

nav li ul a:hover {
    /*background: #2c9595;*/
    background: #2d9872;
}

nav li ul li:last-child {
    border-radius: 0 0 10px 10px;
    overflow: hidden;
}

#container {
    padding: 90px 15px 15px;
}


/*****************************************************************/

.form_register {
    width: 450px;
    margin: auto;
}

.form_register .user_new {
    color: black;
    text-align: center;
    margin-top: 8px;
}

.hr {
    border: 0;
    background: #ccc;
    height: 1px;
    margin: 10px 0;
    display: block;
}

form {
    background: rgba(192, 192, 192, 0.377);
    margin: auto;
    padding: 20px 50px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
}

label {
    display: block;
    font-size: 12pt;
    font-family: 'GothamBook';
    margin: 15px auto 5px auto;
}

input,
select {
    display: block;
    width: 100%;
    font-size: 11pt;
    padding: 5px;
    border: 1px solid #85929e;
    border-radius: 5px;
}

.notitemone option:first-child{
    display: none;
}

.btn_save {
    font-size: 12pt;
    background: #12a4c6;
    padding: 10px;
    color: #FFF;
    letter-spacing: 1px;
    border: 0;
    cursor: pointer;
    margin: 15px auto;
}

.alerta {
    width: 100%;
    background: rgba(192, 192, 192, 0.377);
    border-radius: 6px;
    margin: 20px auto;
}

.msg_error {
    color: red;
}

.msg_save {
    color: green;
}

.alerta p {
    padding: 10px;
}

/*---------------- Lista de Usuarios -----------------*/

.title{
    font-size: 31px;
    display: inline-block;
    color: black;
}

.btn_new{
    display: inline-block;
    background: rgba(230, 225, 225, 0.699);
    color: white;
    padding: 5px 25px;
    border-radius: 4px;
    margin: 20px;
    text-decoration: none;
}

table{
    border-collapse: collapse;
    font-size: 12pt;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
}

table th{
    text-align: left;
    padding: 10px;
    background: #3d7ba881;
    color: black;
}

table tr:nth-child(odd){
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

table td{
    padding: 10px;
}

.link_edit{
    color: white;
    text-decoration: none;
    background: green;
    border-radius: 3px;
    padding: 5px; 
}

.link_delete{
    color: white;
    text-decoration: none;
    background: red;
    border-radius: 3px;
    padding: 5px; 
}